<html>
<head>
    <title>Upload</title>
</head>
<body>
<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input type=file name=photo>
    <br>
     style : <input type="text" name=style><br>
    <input type="submit">
</form>
</body>
</html>
